<div class="left_menu">
  <h2>销售留言板</h2>
  <ul>
    <li><a href="#">销售发展公告</a></li>
    <li><a href="#">销售战略公告</a></li>
    <li><a href="#">销售公告</a></li>
    <li><a href="#">美容教育公告</a></li>
    <li><a href="#">其他公告</a></li>
  </ul>
</div><!--left_menu ends-->