<div class="left_menu">
  <h2>销售留言板</h2>
  <ul>
    <li><a href="/announcements?section=1">销售发展公告</a></li>
    <li><a href="/announcements?section=2">销售战略公告</a></li>
    <li><a href="/announcements?section=3">销售公告</a></li>
    <li><a href="/announcements?section=4">美容教育公告</a></li>
    <li><a href="/announcements?section=5">其他公告</a></li>
  </ul>
</div><!--left_menu ends-->