<%= render partial: "shared/settingheader" %>

<div class="main">
  <div class="content">
    <div class="tab_content" id="welcome">
    	<form id="form_main">
    		<div class="inner_form">
    			<div class="review_txt">
    				<label>用户：</label>
    				<select class="fl">
    					<option selected="selected">admin</option>
    					<option>梦妆</option>
    					<option>雪花秀</option>
    				</select>
    				<div class="pos_checkbox" style="float:left;"><input checked="checked" type="checkbox"><span>是否管理员</span><input type="checkbox"><span>只能出来自己发布的内容</span></div>
    			</div>

    			<div class="review_txt">
    				<div class="pos_checkbox fl">
    					<input checked="checked" type="checkbox">
    					<span>新闻</span>
    					<div class="pos_checkbox fl"><input checked="checked" type="checkbox"><span>查看</span><input checked="checked" type="checkbox"><span>删除</span><input checked="checked" type="checkbox"><span>回复</span><input checked="checked" type="checkbox"><span>新增</span></div>
    				</div>
    			</div>

    			<div class="review_txt">
    				<div class="pos_checkbox fl">
    					<input checked="checked" type="checkbox">
    					<span>日历</span>
    					<div class="pos_checkbox fl"><input checked="checked" type="checkbox"><span>查看</span><input checked="checked" type="checkbox"><span>删除</span><input checked="checked" type="checkbox"><span>回复</span><input checked="checked" type="checkbox"><span>新增</span></div>
    				</div>
    			</div>

    			<div class="review_txt">
    				<div class="pos_checkbox fl">
    					<input checked="checked" type="checkbox">
    					<span>Best Practice</span>
    					<div class="pos_checkbox fl"><input checked="checked" type="checkbox"><span>查看</span><input checked="checked" type="checkbox"><span>删除</span><input checked="checked" type="checkbox"><span>回复</span><input checked="checked" type="checkbox"><span>新增</span><input checked="checked" type="checkbox"><span>推荐</span></div>
    				</div>
    			</div>

    			<div class="review_txt">
    				<div class="pos_checkbox fl">
    					<input checked="checked" type="checkbox">
    					<span>生活故事</span>
    					<div class="pos_checkbox fl"><input checked="checked" type="checkbox"><span>查看</span><input checked="checked" type="checkbox"><span>删除</span><input checked="checked" type="checkbox"><span>回复</span><input checked="checked" type="checkbox"><span>新增</span></div>
    				</div>
    			</div>

    			<div class="review_txt">
    				<div class="pos_checkbox fl">
    					<input checked="checked" type="checkbox">
    					<span>销售部门</span>
    					<div class="pos_checkbox fl"><input checked="checked" type="checkbox"><span>查看</span><input checked="checked" type="checkbox"><span>删除</span><input checked="checked" type="checkbox"><span>回复</span><input checked="checked" type="checkbox"><span>新增</span></div>
    				</div>
    			</div>

    			<div class="review_txt">
    				<div class="pos_checkbox fl">
    					<input checked="checked" type="checkbox">
    					<span>BA</span>
    					<div class="pos_checkbox fl"><input checked="checked" type="checkbox"><span>查看</span><input checked="checked" type="checkbox"><span>删除</span><input checked="checked" type="checkbox"><span>回复</span><input checked="checked" type="checkbox"><span>新增</span></div>
    				</div>
    			</div>

    			<div class="review_txt">
    				<div class="pos_checkbox fl">
    					<input checked="checked" type="checkbox">
    					<span>Trainer</span>
    					<div class="pos_checkbox fl"><input checked="checked" type="checkbox"><span>查看</span><input checked="checked" type="checkbox"><span>删除</span><input checked="checked" type="checkbox"><span>回复</span><input checked="checked" type="checkbox"><span>新增</span></div>
    				</div>
    			</div>

    			<div class="review_txt">
    				<div class="pos_checkbox fl">
    					<input checked="checked" type="checkbox">
    					<span>Coach</span>
    					<div class="pos_checkbox fl"><input checked="checked" type="checkbox"><span>查看</span><input checked="checked" type="checkbox"><span>删除</span><input checked="checked" type="checkbox"><span>回复</span><input checked="checked" type="checkbox"><span>新增</span></div>
    				</div>
    			</div>

    			<div class="review_txt">
    				<div class="pos_checkbox fl">
    					<input checked="checked" type="checkbox">
    					<span>产品</span>
    					<div class="pos_checkbox fl"><input checked="checked" type="checkbox"><span>查看</span><input checked="checked" type="checkbox"><span>删除</span><input checked="checked" type="checkbox"><span>回复</span><input checked="checked" type="checkbox"><span>新增</span></div>
    				</div>
    			</div>


    		</div>

    		<div class="page_bar btn_all"><input type="button" value="全选" /><input type="button" value="清除" /></div>
    		<div class="page_bar"><input type="button" value="保存" /></div>
    	</form>
    </div><!--welcome tab ends-->

  </div>
  <div class="clear"></div>
</div><!--main ends-->