<%= render partial: "shared/header" %>

<div class="main">
  <div class="content">
    <div class="tab_content news group">
      <div class="left_menu">
        <h2>生活故事</h2>
        <ul>
          <li><a href="#">Free Talking</a></li>
          <li><a href="#">赞美格式</a></li>
        </ul>
      </div><!--left_menu ends-->

      <div class="right_main">
        <div class="wizard">
          <span class="btn_operate"><a href="/live_stories/new">发表文章</a><a href="/live_stories">返回上级</a></span><a href="#">生活的故事</a>&nbsp;&gt;&nbsp;<a href="#">赞美格式</a>&nbsp;&gt;&nbsp;FROM上海太平洋TO上海虹口百盛
        </div>

        <h3 class="inner_tit"><span>发表人:Admin</span>FROM: 上海太平洋&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TO: 上海虹口百盛</h3>

        <div class="review_area story_main">
          <div class="review">
            <p>感谢上海虹口百盛对我们的支持，快速的吧产品调配过来</p>
            <table class="review_intr" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="20%">地区：上海</td>
                <td width="20%">柜台：天平洋百货</td>
                <td width="20%">BA:********</td>
                <td width="20%">发布时间：2012-04-02</td>
                <td width="20%" class="btn_operate"><a href="#">推荐</a><a class="clik_review" href="#">回复</a></td>
              </tr>
            </table>
          </div><!--review ends-->

          <%#= render partial: "shared/review" %>

        </div><!--review_area ends-->

        <div class="page_bar btn_operate"><a href="#">首页</a><a href="#">上一页</a><span><a href="#">1</a><a href="#">2</a><a href="#">3</a><a href="#">4</a><a href="#">5</a></span><a href="#">下一页</a><a href="#">末页</a></div>
      </div><!--right_main ends-->
      <div class="clear"></div>
    </div><!--news tab ends-->
  </div>
</div><!--main ends-->

<%#= render partial: "shared/popreview" %>