<%= render partial: "shared/header"%>

<div class="main">
  <div class="content">
    <div class="tab_content news group">
      <div class="left_menu">
        <h2>新闻</h2>
        <ul>
          <li><a href="#">所有新闻</a></li>
          <li><a href="#">兰芝</a></li>
          <li><a href="#">梦妆</a></li>
          <li><a href="#">雪花秀</a></li>
        </ul>
      </div><!--left_menu ends-->

      <div class="right_main">
        <div class="wizard">
          <span class="btn_operate"><a href="/news/new">发表文章</a><a href="/news/show1">返回上级</a></span><a href="/news">新闻</a>&nbsp;&gt;&nbsp;发表文章
        </div>

        <form id="form_main">
          <h3 class="inner_tit"><span>用户：admin</span><span>柜台：太平洋百货</span><span>BA：********</span><span>地区：上海</span></h3>

          <div class="inner_form">
            <div class="review_txt"><label>标题：</label><input type="text"></div>
            <div class="review_txt"><label>内容：</label><textarea rows="10" cols="30"></textarea></div>
            <div class="review_txt"><label>上传图片：</label><input class="form_file" type="file"></div>
            <div class="review_txt"><label>上传视频：</label><input class="form_file" type="file"></div>
            <div class="review_txt"><label>上传附件：</label><input class="form_file" type="file"></div>
            <div class="review_txt">
              <label>谁能看见：</label>
              <select>
                <option selected="selected">兰芝</option>
                <option>梦妆</option>
                <option>雪花秀</option>
              </select>
              <select>
                <option selected="selected">所有人</option>
                <option>梦妆</option>
                <option>雪花秀</option>
              </select>
              <input class="new_radio" checked="checked" type="radio" name="radio1">荣誉殿堂
              <input class="new_radio" type="radio" name="radio1">优秀事例
            </div>
          </div>

          <div class="page_bar"><input type="button" value="发布" /><input type="button" value="临时保存" /><input type="button" value="取消" /><input type="button" value="推荐" /></div>
        </form>
      </div><!--right_main ends-->
      <div class="clear"></div>
    </div><!--news tab ends-->
  </div>
</div><!--main ends-->