<div class="popup_box">
	<div class="pop_review">
		<form>
			<div class="review_txt"><label>回复：</label><textarea></textarea></div>
			<div class="review_btn"><input class="close_btn" type="button" value="发布" /><input class="close_btn" type="button" value="取消" /></div>
		</form>
	</div>
</div>
<div class="overlay" class="close_btn"></div>