<div class="popup_box">
	<div class="pop_pos">
		<h5><span class="close_btn">&times;</span>紧急公告!!!</h5>
		<p>本周2012-06-15日16:00~20:00期间，大楼将停电4小时，请大家注意安排事项。
		</p>
		<div>发件人：IT部门</div>
		<div>发布时间：2012-06-14</div>
	</div>
</div>
<div class="overlay" class="close_btn"></div>