
<div class="top">
    <ul class="title group">
        <li class="def_gray cur_tit"><a href="/"><span>Laneige SSEP</span> Bank</a></li>
        <li class="def_gray"><a href="#">POS</a></li>
        <li class="li_select">
          <select id="li_select">
            <option value="1">兰芝</option>
            <option selected="selected" value="2">梦妆</option>
            <option value="3">雪花秀</option>
          </select>
        </li>
    </ul><!--title ends-->
    
    <div class="user_nav_box">
        <ul class="user_nav">
            <li class="settings"><a href="/settings">系统设置</a></li>
            <li><a href="#">张三	</a></li>
            <li><a href="#">2012-04-01</a></li>
            <li><a href="#">安全退出</a></li>
        </ul><!--user_nav ends-->
    </div>
    
    <div class="clear"></div>
    
    <form id="search">
        <div class="search_txt"><input type="text" id="search_txt" placeholder="搜索内容" /></div>
        <input type="submit" value="" id="search_btn" />
    </form>
</div><!--top ends-->

<div class="tab_nav">
  <div class="tabs_links">
       <ul id="navigation">
           <li id="pos_sales" ><a href="/pos_sales">销售公告板</a></li>
           <li id="pos_board"><a href="/pos_board">留言板</a></li>
           <li id="pos_firm"><a href="/pos_firm">区域分公司留言板</a></li>
       </ul>
    </div><!--tabs_links ends-->
</div><!--tab_nav ends-->

<script type="text/javascript">
$(function(){
  var liCon = "<%= controller_name %>";

  $("#navigation").children().each(function(){
    if(liCon == $(this).attr("id")){
      $(this).addClass("active");
    }
  })
})
</script>