
<%- resource.comments.each do |comment| -%>
<div class="review">
    <p>支持下！！</p>
    <table class="review_intr" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="20%">地区：上海</td>
        <td width="20%">柜台：天平洋百货</td>
        <td width="20%">BA:********</td>
        <td width="20%">发布时间：2012-04-02</td>
        <td width="20%" class="btn_operate"><a class="clik_review" href="#">回复</a></td>
      </tr>
    </table>
</div><!--review ends-->
<%- end -%>

<div class="review">
    <p>回复<a href="#">第2楼</a>：</p>
    <p>谢谢！</p>
    <table class="review_intr" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="20%">地区：上海</td>
        <td width="20%">柜台：天平洋百货</td>
        <td width="20%">BA:********</td>
        <td width="20%">发布时间：2012-04-02</td>
        <td width="20%" class="btn_operate"><a class="clik_review" href="#">回复</a></td>
      </tr>
    </table>
</div><!--review ends-->
<div class="review noborder">
    <p>支持下！！</p>
    <table class="review_intr" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="20%">地区：上海</td>
        <td width="20%">柜台：天平洋百货</td>
        <td width="20%">BA:********</td>
        <td width="20%">发布时间：2012-04-02</td>
        <td width="20%" class="btn_operate"><a class="clik_review" href="#">回复</a></td>
      </tr>
    </table>
</div><!--review ends-->

