<div class="left_menu">
	<h2>新闻</h2>
	<ul>
		<li><a href="/news?section=news">所有新闻</a></li>
		<li><a href="/news?brand=1">兰芝</a></li>
		<li><a href="/news?brand=2">梦妆</a></li>
		<li><a href="/news?brand=3">雪花秀</a></li>
	</ul>
</div><!--left_menu ends-->
