<%= render partial: "shared/posheader" %>

<div class="main">
  <div class="content">
    <div class="tab_content news group">
      <div class="left_menu">
        <h2>留言板</h2>
        <ul>
          <li><a href="/pos_boards?section=1">IT留言板</a></li>
          <li><a href="/pos_boards?section=2">一般留言板</a></li>
          <li><a href="/pos_boards?section=3">柜台建议留言板</a></li>
        </ul>
      </div><!--left_menu ends-->

      <div class="right_main">
        <div class="wizard">
          <a href="/pos_boards">留言板</a>&nbsp;&gt;&nbsp;发布留言
        </div>

        <%= form_for(@pos_board, html:{id: "form_main"}) do |f| %>
          <%= render :partial => "form", locals: {f: f} %>
        <%- end -%>
      </div><!--right_main ends-->
      <div class="clear"></div>
    </div><!--news tab ends-->
  </div>
</div><!--main ends-->

<script type="text/javascript">
  $(function(){
    $(".page_bar input[type=submit]").click(function(){
      $("input#pos_board_status").val($(this).attr("class"))
    })
  });
</script>