<%= render partial: "shared/header"%>
<style type="text/css">
#skin1 .inner_main,#skin2 .inner_main,#skin3 .inner_main{ border-bottom:none;}
</style>
<div class="main">
    <div class="content">
        <div class="tab_content news group">
            <div class="left_menu">
                <h2>产品及培训日历</h2>
                <ul>
                    <li><a href="/calendars">培训日历</a></li>
                    <li><a href="/calendars/1/products_bbs">产品论坛</a></li>
                </ul>
            </div><!--left_menu ends-->

            <div class="right_main">
                <div class="wizard">
                    <span class="btn_operate"><a href="/sis/new">发表文章</a></span><a href="/sis">Trainer&amp;Coach活动计划</a>&nbsp;&gt;&nbsp;<a href="#">兰芝</a>&nbsp;&gt;&nbsp;2012培训开始啦！！&nbsp;&gt;&nbsp;浏览日志
                </div>

                <h3 class="inner_tit">
                    <table cellspacing="0" cellpadding="0">
                        <tr>
                            <td>太平洋专柜</td>
                            <td>发表人：admin</td>
                            <td>浏览数：100</td>
                            <td>回复数：5</td>
                        </tr>
                    </table>
                </h3>

                <div class="inner_main">
                    <div class="intr">
                        <table cellspacing="0" cellpadding="0">
                            <tr>
                                <td>品牌 ： 兰芝</td>
                                <td>柜台 ： 太平洋百货</td>
                                <td>BA ： xxxx-xx</td>
                                <td>发布时间 ： 2012-04-01 16:00</td>
                            </tr>
                        </table>
                    </div>
                    <p class="inner_article">2012 培训季开始啦 ！！！2012 培训季开始啦 ！！！2012 培训季开始啦 ！！！2012 培训季开始啦 ！！！2012 培训季开始啦 ！！！2012 培训季开始啦 ！！！2012 培训季开始啦 ！！！2012 培训季开始啦 ！！！2012 培训季开始啦 ！！！2012 培训季开始啦 ！！！2012 培训季开始啦 ！！！2012 培训季开始啦 ！！！2012 培训季开始啦 ！！！2012 培训季开始啦 ！！！2012 培训季开始啦 ！！！2012 培训季开始啦 ！！！2012 培训季开始啦 ！！！2012 培训季开始啦 ！！！2012 培训季开始啦 ！！！2012 培训季开始啦 ！！！2012 培训季开始啦 ！！！2012 培训季开始啦 ！！！2012 培训季开始啦 ！！！2012 培训季开始啦 ！！！2012 培训季开始啦 ！！！2012 培训季开始啦 ！！！2012 培训季开始啦 ！！！2012 培训季开始啦 ！！！2012 培训季开始啦 ！！！2012 培训季开始啦 ！！！2012 培训季开始啦 ！！！2012 培训季开始啦 ！！！2012 培训季开始啦 ！！！2012 培训季开始啦 ！！！</p>
                    
                </div>

                <table class="info_list" cellspacing="0" cellpadding="0">
                    <tr>
                        <th class="border_rl" width="30%">用户</th>
                        <th width="30%">浏览时间</th>
                        <th class="border_rr" width="30%">动作</th>
                    </tr>

                    
                    <tr>
                        <td><a href="#">BA:***</a></td>
                        <td><a href="#">2012 - 04-01- 17:00</a></td>
                        <td class="btn_operate">浏览</td>
                    </tr>
                    <tr>
                        <td><a href="#">BA:***</a></td>
                        <td><a href="#">2012 - 04-01- 17:00</a></td>
                        <td class="btn_operate">浏览</td>
                    </tr>

                    <tr>
                        <td><a href="#">BA:***</a></td>
                        <td><a href="#">2012 - 04-01- 17:00</a></td>
                        <td class="btn_operate">评论</td>
                    </tr>

                    <tr>
                        <td><a href="#">BA:***</a></td>
                        <td><a href="#">2012 - 04-01- 17:00</a></td>
                        <td class="btn_operate">评论</td>
                    </tr>

                    <tr>
                        <td><a href="#">BA:***</a></td>
                        <td><a href="#">2012 - 04-01- 17:00</a></td>
                        <td class="btn_operate">评论</td>
                    </tr>

                    <tr>
                        <td><a href="#">BA:***</a></td>
                        <td><a href="#">2012 - 04-01- 17:00</a></td>
                        <td class="btn_operate">浏览</td>
                    </tr>

                    <tr>
                        <td><a href="#">BA:***</a></td>
                        <td><a href="#">2012 - 04-01- 17:00</a></td>
                        <td class="btn_operate">评论</td>
                    </tr>

                    <tr>
                        <td><a href="#">BA:***</a></td>
                        <td><a href="#">2012 - 04-01- 17:00</a></td>
                        <td class="btn_operate">浏览</td>
                    </tr>

                    <tr>
                        <td><a href="#">BA:***</a></td>
                        <td><a href="#">2012 - 04-01- 17:00</a></td>
                        <td class="btn_operate">评论</td>
                    </tr>

                    <tr>
                        <td class="page_bar btn_operate" colspan="8"><a href="#">首页</a><a href="#">上一页</a><span><a href="#">1</a><a href="#">2</a><a href="#">3</a><a href="#">4</a><a href="#">5</a></span><a href="#">下一页</a><a href="#">末页</a></td>
                    </tr>
                </table>

                
            </div><!--right_main ends-->
            <div class="clear"></div>
        </div><!--news tab ends-->
    </div>
</div><!--main ends-->

