<%= render partial: "shared/header" %>

<div class="main">
    <div class="content">
        <div class="tab_content" id="full-calendar" >
        	<div class="left_menu">
            	<h2>产品及培训日历</h2>
            	<ul>
                	<li><a href="/calendars">培训日历</a></li>
                    <li><a href="/products?section=9">产品论坛</a></li>
                </ul>
            </div><!--left_menu ends-->
        
            <div class="element-box right_main" style="margin-bottom:50px;">            
                <div id="calendar"></div>
            </div>
         
        </div>
    </div>
</div><!--main ends-->
